.navbar{
    background-color: var(--main-color);
    padding: 1rem 2rem 1rem 6rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 30;
    top: 0;
    /* height: 70px; */
}
.logo{
    width: calc(240px - 2rem) ;
}
.user{
    transition: 0.25s;
    padding: 0.25rem 1rem;
    border-radius: 2px;
    height: 100%;
}
.user:hover{
    background-color: rgba(29, 187, 190, 0.4);
    
}
.search_container
{
    background-color: #1DBBBE;
    height: 3rem;
    width: 3rem;
    border-radius: 0 50% 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.search_container img{
    width: 1.3rem;
}
.search_input input{
    height: 100%;
    width: 375px;
    outline: none;
    padding-right: 4rem;
    border-radius: 70px;
    color: #fff;
}
.search_input input::placeholder{
    font-size: 1rem;
    color: #ADB5B9;
}